*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
}

.container{
    height: 70px;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
}

.container_content{
/*background-color: aqua;*/
width: 95%;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo{
    font-size: large;
    font-weight: bold;
}

.nav_list{
    font-size: 17px;
    font-weight: bold;
}

.nav_list a{
    padding: 9px;
}

.navbar {
    overflow: hidden;
    /*  background-color: #333; */
    font-family: Arial;
    font-weight: bold;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-weight: bold;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

   .dropdown:hover .dropbtn {
    /* background-color: red; */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

.list_bnt{
    
    width: 150px;
    padding: 2px;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_bnt a{
    padding: 10px;
    border: 1px solid rgb(172, 168, 168);
    border-radius: 4px;
    background-color: rgb(47, 78, 78);
    color: WHITE;
    font-size: 16px;
    font-weight: 600;

}

main{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.main_content{
    padding: 10px;
    width: 95%;
    /* background-color: aquamarine; */
    
}

.card{
    width: 20%;
    height: 20rem;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 10px;
    
}

.card_img_section{
    width: 99%;
    height: 75%;
    overflow: hidden;
    object-fit: cover;
    border-bottom: 1px solid rgb(192, 189, 189);
}

.card_img{
    width: 100%;
}

.card_desc{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
}

.card_desc h3,h4,p {
    color: black;
}

.footer{
    background-color: darkslategray;
}